# Configuration de projet spécifique
# Créez ce fichier dans le répertoire où vous voulez créer un projet
# pour personnaliser les paramètres de création

[Project]
name = mon-super-projet
description = Application de gestion personnalisée
author = Raphaël GEOFFROY
email = geo92fr@gmail.com
version = 1.0.0
license = MIT

[Git]
# Configuration Git spécifique au projet
repository_url = https://github.com/geo92fr/mon-super-projet
private = false

[Template]
# Template à utiliser pour ce projet
template = svelte-firebase-instant
customize = true
